<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать товар</title>
</head>
<body>
<h1>Редактировать товар</h1>
 <form th:action="@{/catalogue/products/{id}/edit(id=${product.id})}" method="post">
     <label> Название <input type="text" name="title" th:value="${product.title}"> </label>
     <label> Описание <input type="text" name="details" th:value="${product.details}"> </label>
   <button type="submit">Обновить товар</button>
   </form>
<br>
<a href="/catalogue/products/list">Вернуться к списку продуктов</a>
</body>
</html>